<head>
    <style>
        @import url(../../stylesheets/fonts/Anton-Regular.ttf);

        #time-container {
            width: 100%;    
            background-color: #fee3d9;
            border-radius: 5px;
            vertical-align: center;
        }
        .time-label {
            text-align: center;
            padding: 10px 30px;
            background-color: #810000;
        }
        .time-label h3 {
            margin: 0;
            color: white;
            font-size: 2em;
        }
        #time {
            text-align: center;
            font-family: 'Anton', sans-serif;
        }

        #time-txt {
            margin: 0;
            font-size: 10em;
        }
    </style>
</head>

<body>
    <div>
        <div id="time-container">
            <div class="time-label">
                <h3>Thời gian</h3>
            </div>
            <div id="time">
                <h3 id="time-txt"><%=time %></h3>
            </div>
        </div>
    </div>

    <script>
        let time = document.getElementById("time-txt").value;
        console.log(time);  
    </script>
</body>